.about {
  height: 100%;
  .section {
    height: 100%;
  }
}
#viewport {
  bottom: 0;
  left: 0;
  overflow: hidden;
  perspective: 400px;
  position: absolute;
  right: 0;
  top: 0;
}

#world {
  height: 512px;
  left: 50%;
  margin-left: -256px;
  margin-top: -256px;
  position: absolute;
  top: 60%;
  transform-style: preserve-3d;
  width: 512px;
  // background-color: rgba( 255, 0, 0, .2 );
  background: url(./quote.png) center center no-repeat scroll;
  background-size: contain;
}