.services {
  background-color: #280a33;
  .section {
    height: 100%;
    margin: 0 auto;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    position: relative;
    top: 2vw;
    .serviceItems {
      position: relative;
      width:  100%;
      height:  auto;
      height: auto;
      padding-bottom: 20px;
      .sprite {
        background-image: url(./spritesheet.png);
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        transform: scale(0.7);
        margin-top:-15px;
      }
      
      .sprite-icons8-design-64-_1_ {
        width: 64px;
        height: 64px;
        background-position: -5px -5px;
      }
      
      .sprite-icons8-innovation-64 {
          width: 64px;
          height: 64px;
          background-position: -79px -5px;
      }
      
      .sprite-icons8-mobile-80 {
          width: 80px;
          height: 80px;
          background-position: -5px -79px;
      }
      
      .sprite-icons8-touchscreen-80 {
          width: 80px;
          height: 80px;
          background-position: -95px -79px;
      }
      
      .sprite-icons8-training-50 {
          width: 50px;
          height: 50px;
          background-position: -153px -5px;
      }
      
      .sprite-icons8-video-editing-64 {
          width: 64px;
          height: 64px;
          background-position: -213px -5px;
      }
      
      .sprite-icons8-virtual-reality-50 {
          width: 50px;
          height: 50px;
          background-position: -185px -79px;
      }
      
      .sprite-icons8-web-advertising-80 {
          width: 80px;
          height: 80px;
          background-position: -185px -139px;
      }
      
      .sprite-icons8-wrench-80 {
          width: 80px;
          height: 80px;
          background-position: -287px -5px;
      }
    
    
    
      .serviceItem {
        width: 80vw;
        overflow: hidden;
        color: white;
        text-align: center;
        line-height: 1.42857;
        font-family: 'Didact Gothic', sans-serif;
        transition: all 1s ease 0s;
        background-color: rgba(0,0,0,0.6);
        -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
        -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
        box-shadow: 1px 1px 3px rgba(0,0,0,.6);
        padding: 24px;
        // margin: 0px 0px 0px 30vw;
        margin: 2vw 4vw 2vw 10vw;
        transition: all 1s;
        opacity: 0;
        margin-top: -50px;
        // margin-left: 30vw;
        .serviceHeader {
          font-size: 25px;
          padding-bottom: 25px;
        }
      }
      .serviceItemAnimation {
        opacity: 1;
        margin-top: 2vw;
      }
      .service1 {
        left: auto !important;
        right: 8%;
      }
    }
    .phoneContainer {
      position: absolute;
      width:  100%;
      height:  100%;
    }
    .logo {
      margin-top: -86px;
      width:  100%;
      height:  100%;
      opacity: 0;
      background: url(./logo.png) center center no-repeat scroll;
      animation: revealLogo 2s;
      animation-fill-mode: forwards;
      animation-delay: 1.5s;
    }
    .logoShadow {
      margin-top: 26px;
      opacity: 0;
      width:  100%;
      height:  100%;
      -webkit-filter: contrast(0);
      filter: contrast(0);
      transform: scale(1, 0.6);
      background: url(./logo.png) center center no-repeat scroll;
      animation: revealShadow 2s;
      animation-delay: 1.5s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes revealLogo {
  0% { margin-top: -86px; opacity:0 }
  30%   { margin-top: -66px; opacity:0.4}
  70%   { margin-top: -56px; opacity:0.8}
  100%   { margin-top: -66px; opacity:1}
}
@keyframes revealShadow {
  0% { margin-top: 26px; opacity:0 }
  30%   { margin-top: -7px; opacity:0.1}
  70%   { margin-top: -10px; opacity:0.3}
  100%   { margin-top: -7px; opacity:0.4}
}


@media only screen and (max-width: 800px) {
  .services {
    .section {
      .serviceItems {
        background-color: #280a33;
        .sprite {
          transform: scale(0.5);
        }
        .serviceHeader {
          font-size: 14px !important;
          padding-bottom: 20px;
        }
        .serviceDescription {
          font-size: 12px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .services {
    .section {
      .serviceItems {
        background-color: #280a33;
        .sprite {
          transform: scale(0.4);
          margin-top:-25px;
          margin-left:-25px;
        }
        .serviceHeader {
          font-size: 14px !important;
          padding-bottom: 20px;
        }
        .serviceDescription {
          font-size: 12px !important;
        }
      }
    }
  }
}
