.services {
  .section {
    height: 100%;
    margin: 0 auto;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    position: relative;
    top: 2vw;
    .serviceItems {
      position: relative;
      width:  100%;
      height:  auto;
      height: auto;
      padding-bottom: 30px;
      .serviceItem {
        width: 60vw;
        margin-left: 20vw;
        overflow: hidden;
        color: white;
        text-align: center;
        line-height: 1.42857;
        font-family: 'Didact Gothic', sans-serif;
        transition: all 1s ease 0s;
        background-color: rgba(0,0,0,0.6);
        -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
        -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
        box-shadow: 1px 1px 3px rgba(0,0,0,.6);
        padding: 30px;
        // margin: 0px 0px 0px 30vw;
        margin: 4vw 4vw 4vw 20vw;
        // margin-left: 30vw;
        .serviceHeader {
          font-size: 25px;
          padding-bottom: 25px;
        }
      }
      .service1 {
        left: auto !important;
        right: 8%;
      }
    }
    .mobileServices {
      display: none;
      position: relative;
        height:  100%;
        width: 50%;
        margin: 0 auto;
        .numberEl {
          // position: relative;
          // top: 0;
          // left: 0;
          // text-indent: 200%;
          // white-space: nowrap;
          // overflow: hidden;
          // animation: fadein 2s;
        }
    }
    .phoneContainer {
      position: absolute;
      width:  100%;
      height:  100%;
    }
    .logo {
      margin-top: -86px;
      width:  100%;
      height:  100%;
      opacity: 0;
      // -webkit-transition:  all 1200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      // -moz-transition:  all 1200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      // -o-transition:  all 1200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      // transition:  all 1200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      background: url(./logo.png) center center no-repeat scroll;
      animation: revealLogo 2s;
      animation-fill-mode: forwards;
      animation-delay: 1.5s;
    }
    .logoShadow {
      margin-top: 26px;
      opacity: 0;
      // -webkit-transition:  all 1200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      // -moz-transition:  all 1200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      // -o-transition:  all 1200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      // transition:  all 1200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      width:  100%;
      height:  100%;
      -webkit-filter: contrast(0);
      filter: contrast(0);
      transform: scale(1, 0.6);
      background: url(./logo.png) center center no-repeat scroll;
      animation: revealShadow 2s;
      animation-delay: 1.5s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes revealLogo {
  0% { margin-top: -86px; opacity:0 }
  30%   { margin-top: -66px; opacity:0.4}
  70%   { margin-top: -56px; opacity:0.8}
  100%   { margin-top: -66px; opacity:1}
}
@keyframes revealShadow {
  0% { margin-top: 26px; opacity:0 }
  30%   { margin-top: -7px; opacity:0.1}
  70%   { margin-top: -10px; opacity:0.3}
  100%   { margin-top: -7px; opacity:0.4}
}

@media only screen and (min-width: 1610px) {
  .numbers {
    left: 11vw;
  }
}
@media only screen and (max-width: 1600px) {
  .numbers {
    left: 9vw;
  }
}

@media only screen and (max-width: 1400px) {
  .numbers {
    left: 5vw;
  }
}
@media only screen and (max-width: 1375px) {
  .numbers {
    left: 7vw;
  }
}

@media only screen and (max-width: 1200px) {
  .numbers {
    left: 3vw;
  }
}

@media only screen and (max-width: 1100px) {
  .section {
    transform: scale(0.8);
  }
  .numbers {
    left: 0vw;
  }
}

@media only screen and (max-width: 900px) {
  .section {
    transform: scale(0.7);
  }
  .numbers {
    left: -2vw;
  }
}


@media only screen and (max-width: 766px) {
  .services {
    height: 2100px !important;
  }
  .section {
    transform: scale(1);
    padding-left: 0% !important;
    padding-right: 0% !important;
    top: -240px !important;
  }

  .numbers {
    display: none;
  }
  .stars {
    display: none;
  }
  .mobileServices {
    display: block !important;
    left: -10vw;
    top: 400px;
    height: 800px;
  }
}


@media only screen and (max-width: 556px) {
  .services {
    height: 2220px !important;
    .section {
      .phone {
        display: none;
      }
      .logo {
        transform: scale(0.6);
        height: 200px;
        position: relative;
        top: 349px;
        width: 120%;
        left: -41px;
      }
      .logoShadow {
        transform: scale(0.6);
        height: 200px;
        position: relative;
        top: 190px;
        width: 120%;
        left: -41px;
      }
    }
  }
  .mobileServices {
    display: block !important;
    transform: scale(0.8);
    left: -20vw;
    top: -50px;
  }
}
